*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: azure;
    width: 100vw;
    height: 100vh;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 550;
}
nav{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}
